aside {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #111827;
  color: white;
  // background-image: url('../../../public/textures/concrete_wall.png');
  header {
    padding: 0;
    width: 100%;
    height: 25vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


*::-webkit-scrollbar {
  width: 0.4em;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
  outline: 1px solid slategrey;
}
